<%- include('header')-%>

<h1 class="l2">About</h1>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus orci metus, luctus vitae odio vel, dapibus fringilla ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer vel mauris ut diam rutrum accumsan quis id enim. Nam ut imperdiet erat. Aliquam eu suscipit velit. Donec vitae lorem non odio dapibus interdum. Integer elit magna, gravida eu fringilla condimentum, feugiat sed sem. Pellentesque nec nisl diam. Duis consequat molestie dapibus. Phasellus consequat urna ligula, sed condimentum eros hendrerit porttitor. Curabitur arcu ipsum, egestas id metus et, auctor suscipit urna. Etiam tincidunt risus ac diam interdum porta. Curabitur dictum bibendum felis, vitae fringilla nisi suscipit a.
</P

<%- include("footer"); -%>