<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Calculator</title>
</head>
<body>
	<form method="post" action="/">
		<input type="" name="n1" value= <%= n1 %>>
		<input type="" name="n2" value=<%= n2 %>>
		<button>Add</button>

			<span id="result" style="background: yellow;"><%= result %></span>


			<span id="result" style="background: orange;"><%= result %></span>

		
		
	</form>

	<script type="text/javascript" src="app.js"></script>

</body>
</html>