<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"><!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Todo List</title>
</head>
<body>
	<header>
		<span><%= englishDay %></span>
		<span><%= hindiDay %></span>
	</header>
	<ul>
		<li>Bring vegetables</li>
		<li>Cook food</li>
		<li>Eat food</li>
	</ul>

	<form method="post" action="/">
		<input type="" name="task" placeholder="Enter Task">
		<br>
		<button>+</button>
	</form>

	<script type="text/javascript" src="app.js"></script>

</body>
</html>
