body{
	background: rgb(255,134,94);
	background: linear-gradient(18deg, rgba(255,134,94,1) 33%, rgba(254,228,64,1) 33.6%);
	background-size: 100% 100%;
	height: 100%;
	font-family: 'Annie Use Your Telescope', cursive;
}

.primitive{
	margin: 0;
	padding: 0;
}

.bg-orange{
	background:#FF865E;
}

.hindi{
	font-family: 'Kalam', cursive;
}

.vertical-center{
	vertical-align: middle;
}

.l1{
	font-size: 4.5rem;
	font-family: 'Amatic SC', cursive;
}

.l2{
	font-size: 3rem;
}
.l3{
	font-size: 1.7rem;
}
.l4{
	font-size: 1.5rem;
}

#header{
	display: flex;
	justify-content: space-around;
	margin: 2rem;

}

#header span{
	border-radius: 0.3rem;
    line-height: 1.3rem;
    text-align: center;
    padding: 1rem 1.5rem;
}

main{
	margin: 2rem;
	text-align: center;
}

main ul{
	list-style-type: none;
	text-align: left;
	margin: auto;
	width: 30%;
	background: #FEF9EF;
	border-radius: 0.8rem;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	padding: 0;
}
main input{
	margin: 0;
}
main li{
	margin: auto;
	padding: 0.4rem;
	margin: 0.3rem;
	border-bottom: 0.1rem solid #F4F2F2
; 

}
main li span{
	margin-left: 2rem;
}

main li form input{
	width: 80%;
	border: none;
	font-size: 1.5rem;
	background: #FEF9EF;
	text-align: center;
	font-family: 'Annie Use Your Telescope', cursive;
}

main li form button{
	font-size: 2.2rem;
	width: 2.2rem;
	height: 2.2rem;
	text-align: center;
	line-height: 2.2rem;
	border-radius: 2rem;
	border: none;
	color: #FEF9EF;

}